@model Aluno
@{
    //Layout = "_Layout";
    //Layout = "_Layout2";
    //Layout = null;
}

<h1>@Model.Nome </h1>
<h1>@Model.Sobrenome </h1>

<h1>Ola Fiap @ViewData["Nome"]</h1>
<h1>Ola Fiap @ViewData["SobreNome"]</h1>
<h1>sou sobrenome e @ViewBag.SobreNome</h1>

