@model Aluno
@{
    //Layout = "_Layout";
    //Layout = "_Layout2";
    //Layout = null;
}

<h1>@Model.Nome </h1>
<h1>@Model.Sobrenome </h1>

<h1>Ola Fiap @ViewData["Nome"]</h1>
<h1>Ola Fiap @ViewData["SobreNome"]</h1>
<h1>sou sobrenome e @ViewBag.SobreNome</h1>


@foreach (var item in ((List<Aluno>)ViewBag.Alunos).Take(10))
{
    <partial name="_Aluno" model="item"></partial>
}

<email email="rodolfo"></email>
<vc:noticias total="2" noticias-urgentes="true"></vc:noticias>
@*@await Component.InvokeAsync("Noticias", new{total=3, noticiasUrgentes = false})*@

