@model Aluno
@{
    //Layout = "_Layout";
    //Layout = "_Layout2";
    //Layout = null;
}

<h1>@Model.Nome </h1>
<h1>@Model.Sobrenome </h1>

<h1>Ola Fiap @ViewData["Nome"]</h1>
<h1>Ola Fiap @ViewData["SobreNome"]</h1>
<h1>sou sobrenome e @ViewBag.SobreNome</h1>


@foreach (var item in ((List<Aluno>)ViewBag.Alunos).Take(10))
{
    <partial name="_Aluno" model="item"></partial>
}
<email email="marcio"></email>

<vc:noticias total="3"  ></vc:noticias>
<email email="rodolfo"></email>
<vc:noticias total="2" noticias-urgentes="true"></vc:noticias>
@*@await Component.InvokeAsync("Noticias", new{total=3, noticiasUrgentes = false})*@


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    
$.get("https://localhost:5003/api/v2.0/times", function(data,status){

    console.log("Data" + data);
});
</script>

